body{
    background-color: rgb(255, 255, 255);
}
.img-cabeçalho{
    height: 200px;
}
li{
     color: darkgreen;
}
.cabeçalho{
    display: flex;
justify-content: space-between;
]
}
.item-cabeçalho{
    display: inline-block;
margin: 15px;
}